:root {
    --primary-font-family: "Roboto", sans-serif;
    --secondary-font-family: "Raleway", sans-serif;
    --brand-color: #2196F3;
    --text-color-logo: #000;
    --text-color-nav-title: #212121;
    --text-color-description: #757575;
    --text-color-maintitle: #FFF;
    --text-color-contacts: rgba(255, 255, 255, 0.60);
    --color-active-btn: #188CE8;
}


/* ====== START COMPONENTS ========*/

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

body {
    font-family: var(--primary-font-family);
    color: var(--text-color-description);
}


/* ====== END COMPONENTS ========*/


/* ====== START HEADER ========*/

.logo {
    color: var(--text-color-logo);
    font-family: var(--secondary-font-family);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 26px;
    line-height: 1.19;
    /* light-height/font-size: 31px/26px */
    letter-spacing: 0.78px;
}

.logo>span {
    color: var(--brand-color);
}

.logo .footer {
    color: var(--text-color-maintitle);
}

.logo:hover,
.logo:focus {
    text-decoration: underline;
    text-decoration-color: var(--brand-color);
    text-decoration: none;
}

.nav-list-link {
    color: var(--text-color-nav-title);
    font-size: 14px;
    font-weight: 500;
    /* light-height/font-size: 16px/14px */
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.contact-info {
    color: var(--text-color-description);
    font-size: 14px;
    font-weight: 500;
    /* light-height/font-size: 28px/14px */
    line-height: 2;
    letter-spacing: 0.28px;
}

.nav-list-link:hover,
.contact-info:hover,
.nav-list-link:focus,
.contact-info:focus {
    color: var(--brand-color);
}


/* ====== END HEADER ========*/


/* ====== START HERO Studio ========*/

.main-title,
.modal-btn {
    color: var(--text-color-maintitle);
    text-align: center;
}

.main-title {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 44px;
    font-weight: 900;
    /* light-height/font-size: 60px/44px */
    line-height: 1.36;
    letter-spacing: 2.64px;
    text-transform: uppercase;
}

.modal-btn {
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    /* light-height/font-size: 30px/16px */
    line-height: 1.87;
    letter-spacing: 0.96px;
    border-radius: 4px;
    background: var(--brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-btn:hover,
.modal-btn:focus {
    background: var(--color-active-btn);
}


/* ====== END HERO ========*/


/* ====== START SECTION 2 Наш підхід ========*/

.title-methods {
    visibility: hidden;
}

.title-approach {
    color: var(--text-color-nav-title);
    font-size: 14px;
    font-weight: 700;
    /* light-height/font-size: 16px/14px */
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.description-method {
    font-size: 14px;
    /* light-height/font-size: 24px/14px */
    line-height: 1.7;
    letter-spacing: 0.42px;
}


/* ====== END SECTION 2 Наш підхід ========*/


/* ====== START SECTION 3 AND 4 Чим ми займаємося & Наша команда ========*/

.title-boxes,
.title-employee,
.employee-position {
    color: var(--text-color-nav-title);
    text-align: center;
}

.title-boxes {
    font-size: 36px;
    font-weight: 700;
    /* light-height/font-size:42px/36px */
    line-height: 1.17;
    letter-spacing: 1.08px;
}

.title-employee {
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
}

.employee-position {
    font-size: 16px;
    /* light-height/font-size: 19px/16px */
    line-height: 1.19;
    letter-spacing: 0.48px;
}


/* ====== END SECTION 3 AND 4 Чим ми займаємося & Наша команда ========*/


/* ====== START FOOTER ========*/

.contact-ways {
    background: #2F303A;
}

.company-location,
.email,
.phone-number {
    color: var(--text-color-contacts);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.company-location {
    color: var(--text-color-maintitle);
}

.company-location:hover,
.company-location:focus,
.email:hover,
.email :focus,
.phone-number:hover,
.phone-number:focus {
    color: var(--brand-color);
}


/* ====== END FOOTER ========*/


/* ====== END CSS Studio ========*/


/* ====== START  CSS Portfolio ========*/

.nav-btn {
    cursor: pointer;
    color: var(--text-color-nav-title);
    text-align: center;
    font-family: var(--primary-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    border-radius: 4px;
}

.nav-btn:hover,
.nav-btn:focus {
    background-color: var(--brand-color);
    color: var(--text-color-maintitle);
}

.project-name {
    color: var(--text-color-nav-title);
    font-family: var(--primary-font-family);
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.08px;
}

.project-type {
    font-family: var(--primary-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.48px;
}